/* SVG shapes */

svg, svg * {
  vector-effect: non-scaling-stroke !important;
  pointer-events: all !important;
}

/* Light */

.light-off {
  fill: #4b4101 !important;
  fill-opacity: 1 !important;
}

.light-on {
  fill: #ffbc18 !important;
  fill-opacity: 1 !important;
}

.blinking {
  animation: blink 2s linear infinite;
}

@keyframes blink {  
  50% { opacity: 0; }
}

/* Temperatura dom */

.temp-low {
  fill: #128DFF !important;
  fill-opacity: 1 !important;
}

.temp-medium {
  fill: #34cc2f !important;
  fill-opacity: 1 !important;
}

.temp-high {
  fill: #f91414 !important;
  fill-opacity: 1 !important;
}

/* Temperatura out */

.tempout-low {
  fill: #128DFF !important;
  fill-opacity: 1 !important;
}

.tempout-medium {
  fill: #34cc2f !important;
  fill-opacity: 1 !important;
}

.tempout-high {
  fill: #f91414 !important;
  fill-opacity: 1 !important;
}